
  


.shop-category {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    align-items: flex-start; /* Align items to the left */
  }
  
.shopcategory-sort img{
    width: 10%;
    height: 10%;
}
.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 85%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #727272;
}
.shopcategory-indexSort p span{
    font-weight: 600;
} 
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    /* column-gap: 90px; */
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 230px;
    height: 69px;
    border-radius: 75px;
    background: #ededed ;
    font-size: 20px;
    font-weight:500;
}